<?xml version="1.0"?>
<config>
    <modules>
        <AM_SubCatMode>
            <version>0.1.0</version>
        </AM_SubCatMode>
    </modules>
    <global>
        <models>
            <am_subcatmode>
                <class>AM_SubCatMode_Model</class>
                <resourceModel>am_subcatmode_resource</resourceModel>
            </am_subcatmode>
            <catalog>
                <rewrite>
                    <category>AM_SubCatMode_Model_Catalog_Category</category>
                    <category_attribute_source_mode>AM_SubCatMode_Model_Catalog_Category_Attribute_Source_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
            <am_subcatmode_resource>
                <class>AM_SubCatMode_Model_Resource</class>
            </am_subcatmode_resource>
        </models>
        <blocks>
            <am_subcatmode>
                <class>AM_SubCatMode_Block</class>
            </am_subcatmode>
            <catalog>
                <rewrite>
                    <category_view>AM_SubCatMode_Block_Catalog_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <am_subcatmode>
                <class>AM_SubCatMode_Helper</class>
            </am_subcatmode>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <am_subcatmode>
                    <file>am_subcatmode.xml</file>
                </am_subcatmode>
            </updates>
        </layout>
    </frontend>
</config>